poetry.lock
.ipynb_checkpoints/

data/raw/*
data/processed/*
data/analysis/

playground.txt 

src/utils/__pycache__/*
src/utils/__pycache__/data.cpython-38.pyc
src/preprocessing/brain_correlation_heatmaps.py
src/utils/.ipynb_checkpoints

notebooks/CS_03_Effect_VS_Sample_size copy.ipynb